<h1>About page</h1>
<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/contact">Contact</a>
  </li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero et, voluptatem
  optio aspernatur laborum qui? Eaque delectus quaerat aliquam? Unde, sint
  tenetur cumque numquam ullam culpa incidunt temporibus corporis pariatur.</p>